* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: K2D;
    src: url(fonte/K2D/K2D-Regular.ttf);
}
body {
    font-family: K2D;
    background-color: #0c0e13;
}
/*Aqui irei organizar o meu hero*/
.hero {
    background-image: url(arquivos/imagens/5053309.jpg);
    max-height: 1025px;
    max-width: 1800px;
    margin: auto;
    color: white;
    text-align: center;
}
.hero-art {
    background-color: rgb(0, 0, 0, 0.5);
    max-height: 1025px;
}
.posicionamento {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
.posicionamento > div > h1 {
    font-size: 96px;
    margin-top: 10%;
}
.posicionamento > div > p {
    font-size: 24px;
    margin: 50px 150px;
}
.img-hero {
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 200px;
}
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 200px;
    height: 50px;
    width: 150px;
    border: 1px solid white ;
    border-radius: 20px;
}
.botao:hover {
    background-color: rgba(255, 255, 255, 0.534);
    transition-duration: 1s;
}
.botao > a {
    color: white;
    text-decoration: none;
}
/*Aqui irei organizar a minha navbar*/
.navbar {
    background-color: #171C26;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header {
    position: sticky;
    top: 0;
}
.navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
    border-radius: 20px;
}
.navbar > div:hover {
    font-size: 25px;
    transition-duration: 0.5s;
}
.navbar > div > a {
    color: white;
    text-decoration: none;
}