* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: K2D;
    src: url(fonte/K2D/K2D-Regular.ttf);
}

body {
    font-family: K2D;
    background-color: #0c0e13;
}
/*Aqui irei organizar a minha navbar*/
.navbar {
    background-color: #171C26;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
header {
    position: sticky;
    top: 0;
    box-shadow: 5px 5px 10px 0px rgb(0, 0, 0, 0.5);
}
.navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 150px;
    border-radius: 20px;
}
.navbar > div:hover {
    font-size: 25px;
    transition-duration: 0.3s;
}
.navbar > div > a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 50px;
    color: #F2BA52;
}



/*Aqui irei organizar o meu hero*/
.hero {
    background-image: url(arquivos/imagens/5053309.jpg);
    max-height: 1025px;
    max-width: 1800px;
    margin: auto;
}
.hero-art {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-art > article > h1 {
     font-size: 96px;
     color: white;
     text-align: center;
     margin-bottom: 100px;
     margin-top: 50px;
}
.hero-art > article > p {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.49);
    text-align: center;
    margin-bottom: 100px;
}
.img-hero { 
    height: 200px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.49);
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 100px;
}
.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 150px;
}
.botao > a {
    color: white;
    text-decoration: none;
}
.botao:hover{
    background-color: rgba(255, 255, 255, 0.49);
    color: black;
    transition-duration: 0.3s;
}



/*Aqui irei organizar a sessao sobre mim e seus elementos*/
.sobre-mim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 800px;
    height: 800px;
    max-width: 1800px;
    margin: auto;
    background-color: white;
    padding-bottom: 200px;
}
.sobre-mim > article {
    max-width: 1000px;
    
}
.sobre-mim > article > h1 {
    font-size: 64px;
    text-align: center;
    margin-bottom: 100px;
}
.sobre-mim > article > p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}
.imgs-sm > img {
    height: 100px;
    width: 100px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid black;
}



/*Aqui irei oraganiar a sessao na escola*/
.escola {
    max-width: 1800px;
    max-height: 1500px;
    margin: auto;
    background-color: #171C26;
    padding-top: 50px;
    padding-bottom: 50px;
}
.conteudo-escola {
    margin: 100px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text-escola {
    color: #F2BA52;
    max-width: 900px;
}
.text-escola >  h1 {
    font-size: 64px;
    margin-bottom: 30px;
}
.text-escola > p {
    font-size: 25px;
}
table {
    color: #F2BA52;
    border: 1px solid #F2BA52;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
}
tr, td {
    border: 1px solid #F2BA52;
    padding: 10px 45px;
    border-radius: 5px;
}



/*Aqui irei organizar a sessao curiosidades*/
.curiosidades {
    max-width: 1800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
.title-curiosidades {
    text-align: center;
    font-size: 64px;
    color: #171C26;
    background-color: white;
    max-width: 1800px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.curiosidades > div {
    height: 300px;
    width: 300px;
}
.curiosidades > div > h1 {
    font-size: 28px;
    margin: 30px 20px;

}
.curiosidades > div > p {
    font-size: 20px;
    margin: 30px 20px;

}
.desafiado {
    background-color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
    
}
.pai {
    background-color: #171C26;
    color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);

}
.alfabeto {
    background-color: #464B59;
    color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
}
.desenho {
    background-color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
}
.goleiro {
    background-color: #464B59;
    color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
}
.organizaçao {
    background-color: #171C26;
    color: #F2BA52;
    margin-top: 10px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
    
}



/*Aqui irei organizar a parte dos meus hobs*/
.hobs {
    margin: auto;
    padding-bottom: 100px;
    max-width: 1800px;
    background-color: white;
}
.text-hobs > h1{
    font-size: 64px;
    text-align: left;
    margin-left: 30px;
    padding-top: 100px;
    margin-bottom: 30px;
}
.text-hobs > p {
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
}
.text-hobs > h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 10px 20px 10px;
}
.FIFA {
    display: block;
    margin: auto;
    max-width: 800px;
    min-width: 500px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgb(0, 0, 0, 0.5);
}




/*Aqui irei organizar a parte de contatos*/
.contatos {
    max-width: 1800px;
    height: 400px;
    margin: auto;
    background-color: #171C26;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.img-contatos {
    max-height: 150px;
    border-radius: 100%;
    border: 3px solid #F2BA52;
}
.lista-contatos {
    font-size: 20px;
    color: white;
    margin-left: 30px;
}



/*AQUI IREI TRATAR DAS MEDIAS QUERIES*/
@media only screen and (max-width: 800px) {
    header {
        height: 150px;
        background-color: #171C26;
    }
    .FIFA {
        width: 500px;
    }
    
}